# all zip files
*.zip

# all build directories
*build/

# all images
*.jpg
*.jpeg
*.pjpeg
*.webp

# video format data
*.mp4

# all tgz
*.tgz
*.tar

# 
*onnxruntime-linux-x64-gpu-1.17.3/
*opencv/
*buffalo_l/
*insightface/
*false/
